.post-caption {
    max-width: 400px;
    margin: 0 auto;
    padding: 25px;
    text-align: center;
    h1,
    h4 {
      margin: 0;
      text-transform: none;
      color: whitesmoke;
    }
    p {
      font-size: 16px;
      font-style: italic;
      margin: 0;
      @include serif-font;
      color: whitesmoke;
    }
  }

  .post-body {
    color: whitesmoke;
  }